body {
    margin: 0;
}

h1 {
    margin: 10px;
    font-size: 80px;
    text-align: center;
    margin: 20px;
}

img {
    margin: 20px;
}

.headshot {
    height: 300px;
    width: 300px;
}

.bio {
    text-align: left;
}

.longsnap {
    height: 300px;
    width: 550px;
}

.family {
    height: 300px;
    width: 400px;
}

.socialmedia {
    margin: 200px;
}

.github, .linkedin {
    margin: auto;
}

footer {
    background-color: grey;
    margin-top: 20px;
}

.footerImg {
    height: 100px;
    font-weight: 150px;
    margin: 10px;
}

.footertext {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}


